# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
.tox/

# Environments, Secrets & IDEs
.env
.env.*
!.env.example
.idea/
.vscode/
*.swp
*.swo

# Streamlit
.streamlit/secrets.toml

# Logs & Temporary Files
*.log
*.tmp

# Operating System Files
.DS_Store
Thumbs.db
Desktop.ini
